 #elicitationspace {
	max-width:900px;
	/*height:300px;*/ /*this is problematic when adding things in it*/
    margin:auto;
 }
 
 #roulettetable{
 	width:600px;
	height:280px;
 }
 .miniature{
    position:relative; /*avoid issue with overlay on top left of the page*/
    margin:auto;
 }
 
 #roulettechipcount
 {
 text-align: center;
 }
 
 #toolbar {
 	width:100%;
 	height:16pt;
	padding-bottom: 10px;
 }
 
 .elicitation {
	width:100%;
	height:100%;
 }
 
 .elicitationtitles {
	width:100%;
	height:14pt;
 }
 
 .elicitationtopcentre{
	width:100%;
	height:100%;
	float: left;
	text-align:center;
 }
 
 .elicitationtops{
	width:50%;
	height:40%;
	margin: 0 auto;
 }
 
  .elicitationbottom{
	width:100%;
	height:40%;
 }
 
 .elicitationbottomtitle {
	width:50%;
	height:100%;
	float: left;
	text-align:center;
 }
 
 .textinputbox{
	border-style: inset;
	font-weight:bold;
	width: 50px;
 }
 
 .lowerquantile {
	color:#7CCD7C;
	width: 2em;
	text-align: right;
 }
 
 .upperquantile {
	color:#87CEFF;
	width: 2em;
	text-align: right;
 }
 
.ordinals {
	display: inline-block;
	width: 1em;
	text-align: left;
}
 
 #bottomcontainer {
	clear:left;
	padding-top:30px;
 }
 
 #distribution {
	width:600px;
	height:280px;
	float: left;
 }
 
 #distributionparameters {
	width:600px;
	height:20px;
	text-align: center;
 }
 
 .sliderdiv {
	margin: 10px 0.6em;
 }
 
 #instructions {
 	font-size:10pt;
	padding-left: 0;
 }
 
 #toolbarlegendhelp>table>tbody>tr {
	height: 24pt;
 }
 
 #buttons {
	font-size:10pt;
 }
 
 #quantilevalues {
	text-align: center;
	margin: 0 auto;
 }
 
 #quantileentry {
	margin: 10px auto;
	text-align: center;
 }
 
 #manualentry {
	margin-top: 10px;
	width:100%;
 }
 
 #graphoptions {
	padding: 10px;
	font-size: 10pt;
 }

 .copilotlinkcontainer
 {
	padding-bottom: 15px;
 }
 
 #sharedialog {
	padding: 10px;
	font-size: 10pt;
 }
 
 #quantilespos0 {
	border-style:none;
	color:#7CCD7C;
	font-weight:bold;
	width: 50px;
	text-align: right;
 }
 
.percentileinput {
	width: 67%;
 }
 
 .percentileinputrow {
	text-align: left;
 }
 
 #quantilespos1 {
	border-style:none;
	color:#87CEFF;
	font-weight:bold;
	width: 50px;
	text-align: right;
 }
 
#tooltip.pretty {
	font-family: Arial;
	border-style:none;
	width: 210px;
	padding:20px;
	height: 135px;
	opacity: 0.8;
	background: url('shadow.png');
}
#tooltip.pretty h3 {
	margin-bottom: 0.75em;
	font-size: 12pt;
	width: 220px;
	text-align: center;
}
#tooltip.pretty div { width: 220px; text-align: left; }

#tooltip.fancy {
	background: url('shadow2.png');
	padding-top: 5em;
	height: 100px;
}

#tooltip.fancy.viewport-right {
	background: url('shadow2-reverse.png');
}

.bestfit {
	font-weight: bold;
}

.bisectionPlot{
	width:280px;
	height:120px;
	float: left;
	margin:10px;
}

.fixedPlot{
	width:280px;
	height:120px;
	float: left;
	margin:10px;
}

#tertilemedian{
	width:280px;
	height:120px;
	float: left;
	margin:10px;
}

#tertilerest{
	width:580px;
	height:120px;
	float: left;
	margin:10px;
}
.invalid{
	color: red;
}

#timeoutover{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:2000;
	background-color:rgba(0,0,0,0.75);
}

#timeouttext{
	position:absolute;
	height:20pt;
	margin-top:-10pt;
	font-weight:bold;
	font-size: 18pt;
	color:white;
	top:50%;
	width:100%;
	text-align: center;
}

.probabilityinput{
	border-style: inset;
	font-weight:bold;
	width: 50px
}

.probabilityPlot{
	width:280px;
	height:120px;
	float: left;
	margin:10px;
}

#replayadminlink
{
	padding-top: 20px;
}

#replaycontainer{
	padding-top: 20px;
	font-size:10pt;
}


div.replaycover{
	position: absolute;
	z-index:10;
}

#topcover{
	left:0px;
	margin-top:10px;
	top:16pt;
	width:610px;
	height:315px;
}

#bottomcover{
	left:0px;
	top:315px;
	width:910px;
	height:305px;
}

#replayspan{
	margin-top:1px;
	margin-bottom:1px;
	padding-top:1px;
	padding-bottom:1px;

}

span.notify{
	color: #f00;
}

#conflicts{
	color: red;
	font-weight:bold;
	position: absolute;
	left: 450px;
	top: 50px;
}

div.replayslidertick{
	position:absolute;
	z-index:2;
	border-left: 1px solid;
	height:100%;
}

#grabdata {
	border-width: 1px;
	border-style: outset;
	text-align: center;
}

#results {
	background-color: #F8E6B2;
	font-family: courier, monospace;
}

#resultsdialog {
	background-color: #F8E6B2;
}

#saveresults {
	margin-top: 12pt;
}

.dialogbutton {
	border: outset 1pt #000;
	padding: 2px 2px 2px 5px;
	margin-right: 5px;
	font-size: 10pt;
	/*background-color: #87aeed;*/
	text-decoration: none;
	color: #333333;
}

.dialogopen {
	color: #FFFFFF;
}

.buttonlegend {
	text-align: right;
	width: 160px;
}

.ui-widget-header .buttonicons  {
	display: inline-block;
	background-image: url("images/ui-icons_222222_256x240.png");
	vertical-align: text-top;
}

.dialogopen .buttonicons  {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-dialog .ui-dialog-titlebar {
	padding-bottom: 0em;
	padding-top: 1em;
}

.ui-dialog .ui-dialog-title {
	font-size: 10pt;
	margin-top: -0.9em;
}

.optionslabel {
	text-align: right;
}

.centre {
	text-align: center;
}

body {
	font-family: "Arial","Helvetica","Verdana","sans-serif";
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
	font-size: 10pt;
	width:200px;
}
#tooltip h3, #tooltip div { margin: 0; }

div.toolbarlegendhelpspacing>table>tbody>tr {
 	height: 24pt;
}

div.helppertinent
{
    border-left: 10px solid #f6a828;
    padding-left: 10px;
    margin-left: 10px;
}

div.helpnonpertinent
{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 10px solid #eee;
}
#lowerperslider
{
	background-color: #7CCD7C;
	background-image: none;
}

#upperperslider
{
	background-color: #87CEFF;
	background-image: none;
}

.dialog
{
	font-size: 10pt;
}


#restartdialog
{
	font-size: 10pt;
}

#aboutus
{
	font-size: 10pt;
}
.titleheader{
    font-weight: bold;
    float:left;
    padding-right: 3px;
}

.entryheader{
    float:left;
    display: inline-block;
    min-width: 10em;
    padding-right: 3px;
    /*border: 1px solid grey;*/
    height: 1em; /* 1 line */
}
textarea:read-only {
    border:0;
}
.tdMainTable{
    height:100px;
}
